doctype html
html
  head
    title Office Code Pro
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="")
    meta(name="theme-color", content="")
    link(rel="icon", sizes="any", mask, href="img/website_icon.svg")
    link(rel="stylesheet", href="css/master.css")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" href="img/favicon.png")
  body
    bae NOTE: this font was <strong>NOT</strong> made by me. It was made by <a href="https://github.com/nathco/Office-Code-Pro/">nathco</a>
    h1 This is Office Code Pro as a bold webfont
    h1 This is Office Code Pro as a bold italic webfont
    h1 This is Office Code Pro as a bolder webfont
    h1 This is Office Code Pro as a bolder italic webfont
    h1 This is Office Code Pro as a regular webfont
    h1 This is Office Code Pro as a regular italic webfont
    h1 This is Office Code Pro as a light webfont
    h1 This is Office Code Pro as a light italic webfont
